<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <div class="login-page-container login-page-parent login-div">
      <h1 className="title">Herboscope</h1>
      <form action="">
        <div className="group">
          <label htmlFor="email" className=""> Email address </label>
          <input type="email" name="email" id="email" />
        </div>

        <div className="group">
          <label htmlFor="password" className=""> Password </label>
          <input type="password" name="password" id="password" />
        </div>

        <button>Login In</button>
      </form>
    </div>
  </body>
</html>
