<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Herboscope</title>
    <meta
      name="Final year project by Abhishek Shukla"
      content="Final project by Abhishek Shukla"
    />
    <meta name="next-head-count" content="4" />
    <link
      rel="preload"
      href="/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      data-next-font="size-adjust"
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills.js?ts=1714296836323"
    ></script>
    <script
      src="/_next/static/chunks/webpack.js?ts=1714296836323"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main.js?ts=1714296836323"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app.js?ts=1714296836323"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/signup.js?ts=1714296836323"
      defer=""
    ></script>
    <script
      src="/_next/static/development/_buildManifest.js?ts=1714296836323"
      defer=""
    ></script>
    <script
      src="/_next/static/development/_ssgManifest.js?ts=1714296836323"
      defer=""
    ></script>
    <noscript id="__next_css__DO_NOT_USE__"></noscript>
    <link rel="stylesheet" href="../styles/signup.css" />
  </head>
  <body data-new-gr-c-s-check-loaded="14.1169.0" data-gr-ext-installed="">
    <div id="__next">
      <div class="__className_aaf875">
        <div
          class="login-page-container login-page-parent flex flex-col justify-center items-center pt-8"
        >
          <h1 class="text-white font-bold text-5xl mb-5">Herboscope</h1>
          <form class="border-2 w-4/5 lg:w-2/5 p-5 mt-5 bg-white">
            <div class="relative z-0 w-full mb-6 group">
              <label for="gender">Gender:</label><br />
              <select id="gender" name="gender">
                <option value="">Select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <option value="prefer_not_to_say">Prefer not to say</option>
              </select>
            </div>
            <div class="relative z-0 w-full mb-6 group">
              <label for="email" class="">Age</label
              ><input
                type="number"
                name="password"
                id="age"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required=""
                value="iambatman"
                fdprocessedid="c95gl"
              />
            </div>
            <div class="relative z-0 w-full mb-6 group">
              <label for="email" class="">Username</label
              ><input
                type="text"
                name="password"
                id="username"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required=""
                value="iambatman"
                fdprocessedid="c95gl"
              />
            </div>
            <div class="relative z-0 w-full mb-6 group">
              <label for="email" class="">Password</label
              ><input
                type="password"
                name="password"
                id="password"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required=""
                value="iambatman"
                fdprocessedid="c95gl"
              />
            </div>
            <div class="relative z-0 w-full mb-6 group">
              <label for="email" class="">Confirm password</label
              ><input
                type="password"
                name="password"
                id="confirmPassword"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required=""
                value="iambatman"
                fdprocessedid="c95gl"
              />
            </div>
            <button
              id="submitBtn"
              style="background-color: orange"
              class="flex justify-center items-center w-full px-8 py-2 mt-5 border-2 rounded font-medium"
              fdprocessedid="1qarh"
            >
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 512 512"
                class="text-lg mr-2"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"
                ></path>
              </svg>
              <span class="text-black">Signup</span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script>
      function validateForm() {
        const gender = document.getElementById('gender').value
        const age = document.getElementById('age').value
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value
        const confirmPassword = document.getElementById('confirmPassword').value

        if (gender === '') {
          alert('Please select your gender.')
          return false
        }

        if (age === '' || isNaN(age) || age <= 0) {
          alert('Please enter a valid age.')
          return false
        }

        if (username === '' || !/^[a-z]+$/.test(username)) {
          alert('Username must only contain lowercase letters and no spaces.')
          return false
        }

        if (password === '') {
          alert('Please enter your password.')
          return false
        }

        const passwordRegex =
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
        if (!passwordRegex.test(password)) {
          alert(
            'Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.'
          )
          return false
        }

        if (confirmPassword === '') {
          alert('Please confirm your password.')
          return false
        }

        if (password !== confirmPassword) {
          alert('Passwords do not match.')
          return false
        }

        // alert('Form submitted successfully!')
        return true
      }
      document
        .getElementById('submitBtn')
        .addEventListener('click', function (event) {
          if (!validateForm()) {
            event.preventDefault()
          } else {
            event.preventDefault()
            const userBody = {
              name: localStorage.getItem('fullName'),
              email: localStorage.getItem('email'),
              number: localStorage.getItem('phoneNumber'),
              address: localStorage.getItem('address'),
              gender: gender.value,
              age: age.value,
              username: username.value,
              password: password.value,
            }
            registerUser(userBody)
          }
        })

      const registerUser = async (userBody) => {
        try {
          const response = await fetch(
            'https://herboscope.vercel.app/api/users/register',
            {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(userBody),
            }
          )
          const data = await response.json()
          localStorage.removeItem('fullName')
          localStorage.removeItem('email')
          localStorage.removeItem('phoneNumber')
          localStorage.removeItem('address')
          window.location.href = 'login2.html'
        } catch (error) {
          console.error(error)
          alert('An error occurred. Please try again later.')
        }
      }
    </script>
    <script src="/_next/static/chunks/react-refresh.js?ts=1714296836323"></script>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/signup",
        "query": {},
        "buildId": "development",
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
    <div
      id="__next-build-watcher"
      style="
        position: fixed;
        bottom: 10px;
        right: 20px;
        width: 0px;
        height: 0px;
        z-index: 99999;
      "
    ></div>
    <next-route-announcer
      ><p
        aria-live="assertive"
        id="__next-route-announcer__"
        role="alert"
        style="
          border: 0px;
          clip: rect(0px, 0px, 0px, 0px);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0px;
          position: absolute;
          top: 0px;
          width: 1px;
          white-space: nowrap;
          overflow-wrap: normal;
        "
      ></p></next-route-announcer
    ><span id="PING_IFRAME_FORM_DETECTION" style="display: none"></span>
  </body>
  <grammarly-desktop-integration
    data-grammarly-shadow-root="true"
  ></grammarly-desktop-integration>
</html>
