.login-page-parent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assests/herboscopeBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%);
  z-index: -1;
}

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.title {
  color: white;
  font: bold;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}
